
<%= @list.name %>
<h1>Movies on this list</h1>
<hr>

<% @list.bookmarks.each do |bookmark| %>
  <h3>Name: <%= bookmark.movie.title %></h3>
  <h3>Rating: <%= bookmark.movie.rating %></h3>
  <h4>Comments: <%= bookmark.comment %></h4>
  <p><%= link_to 'Delete comment', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<hr>
<h1>Add a new review</h1>
<div class="col-6 d-flex justify-content-center">
  <%= render 'movies_form' %>
</div>
